block vars 
doctype html
html
  head
    link(href='/public/css/style.css', rel='stylesheet')
    title moqa | #{title}
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  body
    block body